﻿@page
@model Algos.Pages.Algorithms.CreateModel

@{
    ViewData["Title"] = "Добавить алгоритм";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1> @ViewData["Title"]</h1>

        <h4> Новый алгоритм </h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Algorithm.Title" class="control-label"> Название алгоритма </label>
                <input asp-for="Algorithm.Title" class="form-control" placeholder="Напишите название..." />
                <span asp-validation-for="Algorithm.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Algorithm.Description" class="control-label"> Описание алгоритма </label>
                <input asp-for="Algorithm.Description" class="form-control" placeholder="Опишите алгоритм..." />
                <span asp-validation-for="Algorithm.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Algorithm.Code" class="control-label"> Код алгоритма </label>
                <input asp-for="Algorithm.Code" class="form-control" placeholder="Напишите код..." />
                <span asp-validation-for="Algorithm.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-page="Index"> На страницу всех алгоритмов </a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
