﻿@page
@model Algos.Pages.Algorithms.DetailsModel

@{
    ViewData["Title"] = "Детали алгоритма";
}

<h1> Детали алгоритма </h1>

<div>
    <h4> Алгоритм </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Algorithm.Title)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Algorithm.Description)
        </dd>
        <dt class="col-sm-2">
            Код
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Algorithm.Code)
        </dd>
    </dl>
</div>
<div>
    <p class="text-center">
        <a asp-page="./Edit" asp-route-id="@Model.Algorithm.ID"> Изменить </a> |
        <a asp-page="./Index"> На страницу всех алгоритмов </a>
    </p>
</div>

<div class="container">
    <hr />
    <h1 class="text-center"> Визуализация алгоритма сортировки </h1>

    @{ 
        var idNumber = "bar-chart";
    }
    <div class="row">
        @for (int i = 0; i < Model.Values.Count; i++)
        {
            idNumber = "bar-chart" + i.ToString();
            <div class="col-md-4">
                <canvas id="@idNumber"></canvas>
                <script>
                    new Chart(document.getElementById("@idNumber"), {
                    type: 'bar',
                    data: {
                    labels:
                        [
                             @for (int j = 0; j < Model.Values[0].Count; j++) {
                                WriteLiteral((j + 1).ToString() + ", ");
                            }
                        ],
                        datasets: [
                        {
                        label: "Сортировка массива",
                            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                            data: [@for (int t = 0; t < Model.Values[i].Count; t++) { WriteLiteral(Model.Values[i][t] + ", "); }]
                        }
                      ]
                    },
                    options: {
                    legend: { display: false },
                      title: {
                        display: true,
                        text: 'Визуализация сортировки массива'
                      },
                      scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                            }]
                      }
                    }
                });
                </script>
            </div>
        }
    </div>
</div>
