﻿@page
@model Algos.Pages.Algorithms.EditModel

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Алгоритм</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Algorithm.ID" />
            <div class="form-group">
                <label asp-for="Algorithm.Title" class="control-label"> Название алгоритма </label>
                <input asp-for="Algorithm.Title" class="form-control" />
                <span asp-validation-for="Algorithm.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Algorithm.Description" class="control-label"> Описание алгоритма </label>
                <input asp-for="Algorithm.Description" class="form-control" />
                <span asp-validation-for="Algorithm.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Algorithm.Code" class="control-label"> Код алгоритма </label>
                <input asp-for="Algorithm.Code" class="form-control" />
                <span asp-validation-for="Algorithm.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index"> На страницу всех алгоритмов </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
