﻿@page
@model Algos.Pages.Algorithms.IndexModel

@{
    ViewData["Title"] = "Все алгоритмы";
}

<h1> @ViewData["Title"] </h1>

<p>
    <a asp-page="Create"> Добавить новый </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Algorithm[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Algorithm[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Algorithm[0].Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Algorithm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"> Изменить </a> |
                <a asp-page="./Details" asp-route-id="@item.ID"> Детали </a>
            </td>
        </tr>
}
    </tbody>
</table>
