﻿@page
@model LogoutModel
@{
    ViewData["Title"] = "Выход";
}

    <header>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> До скорых встреч! </h5>
                <p class="card-text">
                    Вы успешно вышли из своего личного кабинета. Надеемся, мы скоро увидим Вас еще раз!
                </p>

                <a class="btn btn-primary" asp-area="" asp-page="/Index"> Главная страница </a>
            </div>
        </div>
    </header>