﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Контакты";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title"> Автор </h2>
        <p class="card-text">
            Весь проект сделан <a href="https://vk.com/a.koritsa">Корицким Александром</a>. Если есть какие-то
            пожелания или исправления - пишите мне!
        </p>
        <p>
            <strong> С любовью к пользователем, разработчик! </strong>
        </p>
    </div>
</div>
