﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">
            Этот сайт позволит каждому желающему ознакомиться с классическими алгоритмами сортировки.
        </p>
        <hr class="my-4">
        <p>
            Теперь у Вас есть аккаунт и Вы можете добавить свой алгоритм или посмотреть все
        </p>
        <p class="lead">
            <a class="btn btn-outline-primary btn-lg" href="/Algorithms/Create" role="button"> Добавить алгоритм </a>
            <a class="btn btn-outline-primary btn-lg" href="/Algorithms" role="button"> Все алгоритмы </a>
        </p>
    </div>
}
else
{
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">
            Этот сайт позволит каждому желающему ознакомиться с классическими алгоритмами сортировки.
        </p>
        <hr class="my-4">
        <p>
            Если Вы зарегистрируетесь, то сможете добавить свой алгоритм сортировки и посмотреть алгоритмы
            других пользователей. Вам может это понравится!
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/Identity/Account/Register" role="button"> Зарегистрироваться </a>
            <a class="btn btn-success btn-lg" href="/Identity/Account/Login" role="button"> Войти </a>
        </p>
    </div>
}